{% extends "layout.html" %}

{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            {% if post.author.avatar %}
                <img class="rounded-circle article-img" src="data:image/png;base64, {{ post.author.avatar }}"/>
            {% else %}
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='default_avatar.png') }}">
            {% endif %}

            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%b %d, %Y, %H:%M:%S') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}